body {
    background-color: #F5F7FA;
    font-family: Arial, sans-serif;
  

}

header {
    background-color: #1E3A5F;
    color: #fff;
    text-align: center;
    height: 60px;
    width: 100%;


}
header h1 {
    padding: 20px;
}

.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #3B82F6;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-container h1 {
    text-align: center;
    margin-top: 10px;
}